{% extends 'base.html' %}

{% block content %}
<h1>Courses</h1>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Code</th>
                <th>Name</th>
                <th>Credits</th>
                <th>Semester</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            {% for course in courses %}
            <tr>
                <td><a href="{% url 'courses:course_detail' course.pk %}">{{ course.code }}</a></td>
                <td>{{ course.name }}</td>
                <td>{{ course.credits }}</td>
                <td>{{ course.get_semester_offered_display }}</td>
                <td>{{ course.description|truncatewords:20 }}</td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="5">No courses available.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %} 